* {
  margin: 0;
}

.App {
  background-color: #fafafa;
  height: 100vh;
}

.app__header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
  padding: 20px;
  border-bottom: 1px solid lightgray;
  object-fit: contain;
  display: flex;
  justify-content: space-between;
}

.app__headerImage {
  object-fit: contain;
}

.app__signUp {
  display: flex;
  flex-direction: column;
}

.app__posts {
  padding: 20px;
  display: flex;
  justify-content: center;
}

.app__loggedIn {
  display: flex;
  flex-direction: row;
}

.app__avatar {
  margin-right: 5px;
}

.app__notLoggedIn {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 20px;
}

.app__welcome {
  text-align: center;
  padding-top: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}
